<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los solteros no cocinamos</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>
    <header>
      <img src="../images/logo.png" alt="Logo">
        <div class = "row">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#"><img src="../images/dinner.png" alt="Menu"><b>Menu</b></a>
              <ul class="menu">
                <li><a href="#"><img src="../images/plate-fork-and-knife.png" alt="Comidas"><b>Comidas</b></a></li>
                <li><a href="#"><img src="../images/tea-cup.png" alt="Bebidas"><b>Bebidas</b></a></li>
                <li><a href="#"><img src="../images/cupcake.png" alt="Postres"><b>Postres</b></a></li>
              </ul>
            </li>
            <li><a href="#"><img src="../images/star.png" alt="Combos"><b>Combos y promociones</b></a></li>
            <li><a href="#"><img src="../images/shopping-cart.png" alt="Carrito"><b>Mi carrito</b></a></li>
            <li><a href="#"><img src="../images/user.png" alt="User"><b>Mi cuenta</b></a></li>
          </ul>
        </div>
      </header>
      <div class="row" data-equalizer="foo">
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>
        <div class="small-3 small-centered columns panel" data-equalizer-watch>
          <div class="panel" data-equalizer-watch="foo">
            <img src="../images/hamburguesa.jpg" alt="" height="80px" width="100px">
            <h5><b>Hamburguesa</b></h5>
            <a href="#" class="descripcion" data-open="uno">
              <h6>Hamburguesa de res</h6>
            </a>
            <h6><u>$50</u></h6>
            <button type="button" class="success button radius">
              Agregar a carrito
            </button>
          </div>
        </div>

      </div>
      <!-- index de cuando se da click-->
      
      <div id="uno" class="small-12 small-centered columns reveal" data-reveal>
        <div class="small-5 columns">
          <h2><b>Hamburguesa</b></h2>
          <p>Exquisita hamburguesa con carne de res de la mejor calidad, adicionada de queso americano, cebolla, lechuga, tomate, etc.
          <br>
          <br>
          <b>Precio:</b> $50.00
          </p>
          <p><b>Cantidad:</b>
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </p>
          <button class="warning button">
            Agregar a carrito
          </button>
        </div>
        <div class="small-4 columns">
          <div class="panel" style="border: 1px solid rgb(228,150,36); margin-top: 10%;" >
            <img src="../images/hamburguesa.jpg" alt="" height="150px" width="150px">
          </div>
          <ul class="tabs" style="top: 10%;" data-tab>
            <li class="tab-title active"><a href="#panel1"><img src="../images/hamburguesa.jpg" alt="" height="50px" width="50px"></a></li>
            <li class="tab-title"><a href="#panel2"><img src="../images/hamburguesa.jpg" alt="" height="50px" width="50px"></a></li>
            <li class="tab-title"><a href="#panel3"><img src="../images/hamburguesa.jpg" alt="" height="50px" width="50px"></a></li>
            <li class="tab-title"><a href="#panel4"><img src="../images/hamburguesa.jpg" alt="" height="50px" width="50px"></a></li>
          </ul>
        </div>
        <div class="small-2 columns">
          <div class="panel" style="border: 1px solid rgb(228,150,36); margin-top: 10%;">
          <h6 style="text-align: center;"><b>Sugerencias</b></h6>
            <a href="#panel11" style="display: block;">
                <img src="../images/mctrio.png" alt="" height="60px" width="60px">
                <b><br>Trio - </b><small style="color: black;">$80.00</small>
            </a>
          </div>
        </div>
        <a class="close-button" data-close>&#215;</a>
      </div>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/what-input.js"></script>
    <script src="../js/vendor/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
