<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los solteros no cocinamos</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="navController as maincontrol">
    <header  >
      <img src="/images/logo.png" alt="Logo">
        <div class = "row">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#/"><i class="icon-bell"></i><b>Menu</b></a>
              <ul class="menu">
                <li><a href="#/comidas"><i class="icon-spoon-knife"></i><b>Comidas</b></a></li>
                <li><a href="#/bebidas"><i class="icon-glass"></i></i><b>Bebidas</b></a></li>
                <li><a href="#/postres"><img src="images/cupcake.png" alt="Postres"><b>Postres</b></a></li>
              </ul>
            </li>
            <li><a href="#/promociones"><i class="icon-star-empty"></i><b>Combos y promociones</b></a></li>
            <li><a href="#/carrito"><i class="icon-cart"></i><b>Mi carrito</b></a></li>                    
            <li><a href="#/cuenta" ng-hide="logeado"><i class="icon-user"></i></a></li>
            <li ng-show="logeado"><a href="#/cuenta" ng-hide="admin"><i class="icon-user"></i><b>{{username}}</b></a>
                <ul>
                  <li><a ng-click="maincontrol.salir()">Salir</a></li>
                </ul>
            </li>
            <li><a href="#/cuenta" ng-show="admin"><i class="icon-user"></i><b>{{username}}</b></a>
               <ul class="menu" >
                <li><a href="#/admin/gestionproductos"><b>Gestionar productos</b></a></li>
                <li><a href="#/admin/gestionpromociones"><b>Gestionar promociones</b></a></li>               
                <li ng-show="logeado"><a ng-click="maincontrol.salir()">Salir</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
      </header>
       
    <section ng-view></section>
     
      <!-- index de cuando se da click-->
      
      
    <script src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/satellizer/dist/satellizer.min.js"></script>
    
    
    <script type="text/javascript" src="js/appAngular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
