<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los solteros no cocinamos</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>
    <header>
      <img src="../images/logo.png" alt="Logo">
        <div class = "row">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#"><img src="../images/dinner.png" alt="Menu"><b>Menu</b></a>
            </li>
            <li><a href="#"><img src="../images/star.png" alt="Combos"><b>Combos y promociones</b></a></li>
            <li><a href="#"><img src="../images/presentation.png" alt="Analisis"><b>Informacion que cura</b></a></li>
            <li><a href="#"><img src="../images/user.png" alt="User"><b>Mi cuenta</b></a></li>
          </ul>
        </div>
      </header>
      <div class="row">
        <div class="medium-10 medium-centered columns">
          <h6>
            <b>Tipo: </b>
            <select>
              <option value="desayuno">Desayuno</option>
              <option value="comida">Comidas</option>
              <option value="cena">Cena</option>
            </select>
            <button class="warning button" data-open="uno">
              Agregar Promocion
            </button>
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="callout" style="border: 1px solid rgb(156,193,84);">
          <img src="../images/hamburguesa.jpg" alt="" width="80px" height="80px">
          <h6><b>Hamburguesa</b><button class="button" data-open="uno">Editar</button></h6>
          <h6>Descripcion de la promocion</h6>
          <h6><u>$50.00</u><button class="alert button">Eliminar</button></h6>
        </div>
      </div>
      <div id="uno" class="small-12 small-centered columns reveal" data-reveal>
        <h5><b>Agregar promocion</b></h5>
        <input type="text" placeholder="Nombre de la promocion">
        <textarea name="" id="" placeholder="Descripcion de la promocion"></textarea>
        <h6>Tipo:</h6>
        <select>
            <option value="desayuno">Desayuno</option>
            <option value="comida">Comidas</option>
            <option value="cena">Cena</option>
          </select>
        <input type="date" placeholder="Fecha de vigencia">
        <h6><b>Agregue productos a su promocion</b></h6>
        <div class="table-scroll">
          <table>
          <tbody>
            <tr>
              <td><input type="checkbox"></td>
              <td><label for="">Hamburguesa con queso</label></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><label for="">Refresco</label></td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td><label for="">Albondigas</label></td>
            </tr>
          </tbody>
        </table>
        </div>
        <h6><b>Precio:</b></h6>
        <div class="input-group">
          <span class="input-group-label">$</span>
          <input class="input-group-field" type="number">
        </div>

        <div class="large-12 large-centered columns">
          <button class="success button">Agregar promocion</button>
          <button class="alert button">Cancelar</button>
        </div>
        <a class="close-button" data-close>&#215;</a>
      </div>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/what-input.js"></script>
    <script src="../js/vendor/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>